h1{
    color: #ff0f0f;
    font-size: 24px;
    margin-bottom: 10px;
}

.boy{
    color: #ed0000;
    font-size: 18px;
}
.girl{
    color: #0f0fff;
    font-size: 18px;
}

#para{
    color: #ff02f2;
    font-size: 16px;
}

/*for all elements */


/* for multiple selectors */
p,h1,h3{
    margin: 0;
    padding: 0;
}
.box{
    height: 100px;
    width: 100px;
    border: 2px solid #000000;
    /* margin: ; */
    padding: 100px ;
    border-radius: 70px;

}