h1{
    color: #ff0f0f;
    font-size: 24px;
    margin-bottom: 10px;
}

.boy{
    color: #ed0000;
    font-size: 18px;
}
.girl{
    color: #0f0fff;
    font-size: 18px;
}

#para{
    color: #ff02f2;
    font-size: 16px;
}

/*for all elements */


/* for multiple selectors */
p,h1,h3{ 
    margin: 0;
    padding: 0;
} 
#img{
    height: 100px;
    width: 100px;
    border: 2px solid red;
}
h1~p{
    color:#ff0f0f;
    background-color: #0f0fff;
}
.box{
   border: 2px solid black; 

}
@media(min-width:600px) and (max-width:1000px){
    body{
        background-color: #ed0000;
    }
}
/* mobile upto 480px */
/* tablet 481 to 768px */
/* smalll laptop 769 to 1024s */
/* desktop 1024 to above */